/* Fix carousel height */
#carouselExampleDark .carousel-item {
  height: 500px;   /* adjust smaller/higher here */
  overflow: hidden;
 
}

#carouselExampleDark .carousel-indicators {
    top: 470px;
}

/* Make images fill nicely without stretching */
#carouselExampleDark .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;     /* crops edges but keeps center visible */
  object-position: center;
}


.card-img-top {
    height: 150px;
    width: 100%;
    object-fit: cover;
    padding: 2px;
}

.row {
    padding: 25px;
}

.modal-dialog {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

